<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>마이페이지</h1>
<hr>

<div th:if="${photo != null}">
    <img th:src="@{'/img/' + ${photo.fileName}}" width="150" height="150">
</div>

<div th:if="${photo == null}">
    <p>등록된 사진이 없습니다.</p>
</div>

<form action="/uploadPhoto" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">사진 업로드</button>
</form>

<hr>

<p>아이디: <span th:text="${user.userId}"></span></p>
<p>이름: <span th:text="${user.name}"></span></p>
<p>이메일: <span th:text="${user.email}"></span></p>
<p>전화번호: <span th:text="${user.phone}"></span></p>
<p>학력: <span th:text="${user.education}"></span></p>
<p>보유 스킬: <span th:text="${user.skill}"></span></p>
<p>희망 직무: <span th:text="${user.desiredJob}"></span></p>

<hr>

<button onclick="location.href='/updateForm'">회원정보 수정</button>
<button onclick="location.href='/introList'">자기소개서 목록</button>
<button onclick="location.href='/logout'">로그아웃</button>

</body>
</html>